{% extends 'index.html' %}
{% load static %}

{% block content %}



<div class="containers">
  <div class="img">
    <img src="{% static 'media/pass.svg' %}">
  </div>
  <div class="login-content">
    <form action="" method="POST">
      {% csrf_token %}
      <img src="{% static 'media/auth.svg' %}">
      <h2 class="title">Change Password</h2>
      {% if messages %} {% for mesg in messages%}
            <small class="text-danger fw-bold">{{mesg}}</small> {% endfor %} {% endif %}
      <div class="input-div one">
        <div class="i">
          <i class="fas fa-key"></i>
        </div>
        <div class="div">
          <input type="text" class="input" name="pass" placeholder="password">
        </div>
      </div>
      <div class="input-div pass">
        <div class="i">
          <i class="fas fa-key"></i>
        </div>
        <div class="div">
          <input type="password"  class="input" name="conpass" placeholder="Confirm Password">
        </div>
        <input type="hidden" name="user_id" id="userid" value="{{user_id}}">

      </div>
      <input type="submit" id="btn" value="Submit">
      
     
    </form>
  </div>
</div>




























    
{% endblock content %}







    